<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in with your account </title>
</head>

<body>
<div>

    <table>
        <thead>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Password</th>
        <th>Roles</th>
        </thead>
        <tr th:if="${allUsers.isEmpty()}">
            <td colspan="2"> No Books Available</td>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td><span th:text="${user.id}"> ID </span></td>
            <td><span th:text="${user.firstName}"> First Name </span></td>
            <td><span th:text="${user.lastName}"> Last Name</span></td>
            <td><span th:text="${user.email}"> Email </span></td>
            <td><span th:text="${user.password}"> Password </span></td>
            <td th:each="role : ${user.roles}"><span th:text="${role.name}"> Role Name</span></td>


        </tr>
    </table>

</div>


</body>
</html>