<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <title>Spring Boot Application</title>
</head>
<body>

<h4 th:text="${serverTime}">Welcome to Thymeleaf Spring Boot web application Chat  Current time is   </h4>


<br/><br/>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>FIRST ROOM </th>
            <th>SECOND ROOM</th>
        </tr>
        </thead>
        <tbody>
        <tr>


            <td> Mak <a href="enterRoom1">Enter Room1</a></td>
            <td> Mac <a href="enterRoom2">Enter Room2</a> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>