<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th th:href="@{/room2.css}"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Room2</title>
    <style type="text/css"></style>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script type="text/javascript">

        function showMessage() {
            $.get('/get_mes', function (data) {
                //            var jsonData = $.parseJSON(data);
                //         console.log(jsonData + "Json turn into ");
                console.log("Beginining of work function $.get")
                let chatmessage = "<div class='chat-view'>";
                for (var i = 0; i < data.length; i++) {
                    console.log(data[i]);
                    chatmessage = chatmessage + "<div class=\"chat-item\">\n" +
                        "                    <div class=\"d-flex\">\n" +
                        "                        <div class=\"p-1\">\n" +
                        "                            <div class=\"d-flex align-items-end\">\n" +
                        "                                <div class=\"sender-name\">" + data[i].userName + "</div>\n<div class=\'chat-time\'>" + data[i].userName + "</div>\n</div>\n" +
                        "                            <div class=\"float-right\">\n" +
                        "                            </div>\n <div class=\"chat-text\">\n" + data[i].report +
                        "                            </div>\n" +
                        "                        </div>\n" +
                        "                    </div>\n" +
                        "                </div>";
                }
                chatmessage = chatmessage + "</div>";
                $("#chatview").html(chatmessage);
                console.log("End of work function $.get")
            });
        }

        // $(document).ready(function () {
        //     showMessage();
        // });

        // $(document).ready(function () {
        //     $.get('/mes', function (data) {
        //         console.log(data)
        //         let testTable = " <table border='1'>" +
        //             "<tr><td>" + data.id + "</td><td>" + data.report + "</td> <td>" + data.dataCreated + "</td></tr>"+
        //         "</table>";
        //
        //         $("#testH1").html(testTable);
        //     })
        // });

        function sendMessage() {
            //         const msg = $('#ajaxmessage').serialize();
            console.log(" I want start ajax")
            const msg = JSON.stringify({
                userName: $("#userName").val(),
                report: $("#report").val(),
            })
            console.log(msg.toString());
            $.ajax({
                type: 'POST',
                cache: false,
                url: 'http://localhost:8080/message',
                contentType: "application/json",
                dataType: 'json',
                data: msg,
                success: function () {
                    console.log(" 89 Data sent");
                    showMessage();
                }
            })
        }

        window.onload = function () {
            console.log(" function window.onload = 96 function () show message")
            document.getElementById("button-addon2").addEventListener("click", sendMessage);
            document.getElementById("button-addon2").addEventListener("click", showMessage);
            showMessage();
        }

        function handler2() {
            alert('Мы схватили кнопку с id button-addon2 готовы к ajax send message to server');
            console.log("Thanks");
        }

    </script>
</head>
<body class="body">
<div th:id="testH1"> Test H1 Heading</div>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>USER NAME</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <th:block th:text="${user.getName()}"></th:block>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<section class="main-wrapper">
    <div class="cgl-live-chat">
        <div class="chat-title">
            Live Chat
        </div>

        <div class="chat-wrapper" th:id="chatview">

        </div>
        <div>
            <div th:class="chat-message">
                <form th:action="@{/message}" th:object="${message}" id="ajaxmessage" method="post">
                    <input type="hidden" th:field="*{userName}" th:value="${user.getName()}" id="userName">
                    <input type="text" th:field="*{report}" id="report" placeholder="Type something...">
                    <button class="" type="button" id="button-addon2">
                        <img src="https://github.com/suryavmds/Live-chat-HTML-design--like-YT-chat-/blob/master/assets/img/send-btn.svg?raw=true"
                             alt="">
                    </button>
                </form>
            </div>


        </div>
    </div>
</section>
</body>
</html>